{% extends "Customer/base.html" %}
{% load static %}
{% block title %}Bajaar — Shop Local, Delivered Fast{% endblock %}
{% block content %}

<!-- ============================= HERO ============================= -->
{% include 'Customer/home/hero_part.html' %}

<!-- ========================= CATEGORY STRIP ========================= -->
{% include 'Customer/home/category_strip.html' %}

<!-- ========================= FEATURED PRODUCTS ========================= -->
{% include 'Customer/home/featured_product.html' %}

<!-- ========================= DEAL BANNER ========================= -->
{% include 'Customer/home/deal_banner.html' %}

<!-- ========================= WHY BAJAAR ========================= -->
{% include 'Customer/home/why_bazar.html' %}

<!-- ========================= NEWSLETTER ========================= -->
{% include 'Customer/home/newsletter.html' %}

{% endblock %}