{% if messages %}
<div class="container-xl mt-3">
  {% for message in messages %}
    <div class="alert bj-alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-success{% endif %} alert-dismissible fade show"
         role="alert" data-autohide>
      {% if message.tags == 'success' %}<i class="bi bi-check-circle me-2"></i>{% endif %}
      {% if message.tags == 'error' or message.tags == 'danger' %}<i class="bi bi-exclamation-octagon me-2"></i>{% endif %}
      {% if message.tags == 'warning' %}<i class="bi bi-exclamation-triangle me-2"></i>{% endif %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
</div>
{% endif %}